@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="logo" src="Img/logo.jpeg" />
    <h1 class="display-4">Blue Orange</h1>

    <p>....Because we are mad as hatter <a href="https://docs.microsoft.com/aspnet/core">Compile your useless code</a>.</p>

    <button type="button" class="btn btn-primary" id="compileBtn">Compile</button>
    <div class="container codeTranslatorContainer">
        <div class="row">

            <!-- Source Code Tile -->
            <div class="col">
                <label for="srcLang">Source Language:</label>
                <select name="srcLangName" id="srcLang">
                    <option value="C">C</option>
                    <option value="Burlone">Bazinga</option>
                </select>
                <textarea id="srcCode" rows="15" cols="50">
//Example Code:
#define PINO 4

int main() {
	int x;
	int y;
	x = getchar();
 	y = getchar();
 	printf("%d", fun1( fun2(x) + fun2(y), y));
}

int fun1(int x, int y){
	int k = 3;

	for( int i = x * 3; i > x; i--) {
		if (i % 2 == 0){
			k = fun2(y - 1);
		} else {
			k = k / fun2(i);
		}
	}
	return k;
}

int fun2(int y){
	while(y > 1){
		if (y % 3 == 1){
			return y;
		}
		y--;
	}
	return y + 10;
}
                
                

                </textarea>
            </div>

            <!-- Destination Code Tile -->
            <div class="col">
                <label for="dstLang">Destination Language:</label>
                <select name="dstLangName" id="dstLang">
                    <option value="IJVM">IJVM</option>
                    <option value="8088">8088</option>
                </select>
                <textarea id="dstCode" rows="15" cols="50"></textarea>
            </div>
        </div>
    </div>

</div>


@*//Example Code:
main() {
	input x;
 	input y;
 	print fun1(fun2(x)+fun2(y), y);
}

fun1(x, y){
	 k = 3;

	for(i = x *3; i > x; i--) {
		if (i%2 == 0){
			k = fun2(y-1);
		} else {
			k = k/fun2(i);
		}
	}
	return k;
}

fun2(y){
	while(y > 1){
		if (y%3 == 1){
			return y;
		}
		y--;
	}
	return y+10;
}*@